In [1]:
import pandas as pd

In [2]:
df_tip = pd.read_json("gs://data_henry_proyecto_final/tip.json",lines=True)

In [3]:
df_checkin = pd.read_json("gs://data_henry_proyecto_final/checkin.json",lines=True)

In [4]:
df_busisnes = pd.read_parquet('gs://data_henry_proyecto_final/Busisness.parquet')

In [5]:
df_reviews = pd.read_parquet('gs://data_henry_proyecto_final/reviews.parquet')

In [6]:
df_user = pd.read_parquet('gs://data_henry_proyecto_final/user.parquet')

In [7]:
df_reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,0.0,1.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1.0,2.0,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31
2,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5.0,0.0,2.0,0.0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
3,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5.0,2.0,0.0,0.0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
4,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,0.0,0.0,0.0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45
...,...,...,...,...,...,...,...,...,...
3735111,BE12ibZHDgGoV3sKfYmWmQ,BYM5EcajA1_Y6GnLdfAQzg,4bNFWpQtS5PtfjXuxTc-GQ,5.0,1.0,0.0,0.0,I am surprised by the recent negative reviews....,2022-01-01 18:28:57
3735112,A5uNiAOGcU0M34sSGN6Wkg,JWhZs-vSggwN6WgxBHgIDw,B2xtWMBTyDtd-ndqqaIC1Q,1.0,0.0,0.0,0.0,Sat at the bar for 10 minutes and didn't get s...,2022-01-15 15:41:15
3735113,PVRvzY0NxSU-fiK3JOXX7w,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1.0,0.0,0.0,0.0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
3735114,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,1.0,0.0,1.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
3735115,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1.0,0.0,0.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [8]:
df_reviews = df_reviews.drop('useful',axis=1)

In [9]:
df_reviews = df_reviews.drop('funny',axis=1)

In [10]:
df_reviews = df_reviews.drop('cool',axis=1)

In [11]:
df_reviews

,review_id,user_id,business_id,stars,text,date
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31
2,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5.0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
3,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5.0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
4,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45
...,...,...,...,...,...,...
3735111,BE12ibZHDgGoV3sKfYmWmQ,BYM5EcajA1_Y6GnLdfAQzg,4bNFWpQtS5PtfjXuxTc-GQ,5.0,I am surprised by the recent negative reviews....,2022-01-01 18:28:57
3735112,A5uNiAOGcU0M34sSGN6Wkg,JWhZs-vSggwN6WgxBHgIDw,B2xtWMBTyDtd-ndqqaIC1Q,1.0,Sat at the bar for 10 minutes and didn't get s...,2022-01-15 15:41:15
3735113,PVRvzY0NxSU-fiK3JOXX7w,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1.0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
3735114,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
3735115,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [12]:
df_reviews['review_id'].nunique()

3093221

In [13]:
df_reviews = df_reviews.drop_duplicates(subset='review_id', keep='first')

In [14]:
num_nulos = df_reviews['review_id'].isnull().sum()

print(f'Hay {num_nulos} valores nulos en la columna user_id.')

Hay 0 valores nulos en la columna user_id.

In [15]:
df_reviews

,review_id,user_id,business_id,stars,text,date
0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
1,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31
2,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5.0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
3,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5.0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
4,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45
...,...,...,...,...,...,...
3735111,BE12ibZHDgGoV3sKfYmWmQ,BYM5EcajA1_Y6GnLdfAQzg,4bNFWpQtS5PtfjXuxTc-GQ,5.0,I am surprised by the recent negative reviews....,2022-01-01 18:28:57
3735112,A5uNiAOGcU0M34sSGN6Wkg,JWhZs-vSggwN6WgxBHgIDw,B2xtWMBTyDtd-ndqqaIC1Q,1.0,Sat at the bar for 10 minutes and didn't get s...,2022-01-15 15:41:15
3735113,PVRvzY0NxSU-fiK3JOXX7w,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1.0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
3735114,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
3735115,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [16]:
# a partir de ahora pasamos al dataset user

In [17]:
df_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

In [18]:
df_user = df_user.drop('useful',axis=1)

In [19]:
df_user = df_user.drop('funny',axis=1)

In [20]:
df_user = df_user.drop('cool',axis=1)

In [21]:
df_user = df_user.drop('elite',axis=1)

In [22]:
df_user = df_user.drop('compliment_hot',axis=1)

In [23]:
df_user = df_user.drop('compliment_more',axis=1)

In [24]:
df_user = df_user.drop('compliment_profile',axis=1)

In [25]:
df_user = df_user.drop('compliment_cute',axis=1)

In [26]:
df_user = df_user.drop('compliment_list',axis=1)

In [27]:
df_user = df_user.drop('compliment_note',axis=1)

In [28]:
df_user = df_user.drop('compliment_plain',axis=1)

In [29]:
df_user = df_user.drop('compliment_cool',axis=1)

In [30]:
df_user = df_user.drop('compliment_funny',axis=1)

In [31]:
df_user = df_user.drop('compliment_writer',axis=1)

In [32]:
df_user = df_user.drop('compliment_photos',axis=1)

In [33]:
df_user = df_user.drop('fans',axis=1)

In [34]:
df_user = df_user.drop('friends',axis=1)

In [39]:
df_user = df_user.drop('name',axis=1)

In [41]:
df_user['user_id'].nunique()

1987897

In [42]:
df_user = df_user.drop_duplicates(subset='user_id', keep='first')

In [43]:
num_nulos = df_user['user_id'].isnull().sum()

print(f'Hay {num_nulos} valores nulos en la columna user_id.')

Hay 0 valores nulos en la columna user_id.

In [44]:
df_user

,user_id,review_count,yelping_since,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,585,2007-01-25 16:47:26,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,3.74
2,2WnXYQFK0hXEoTxPtV2zvg,665,2008-07-25 10:41:00,3.32
3,SZDeASXq7o05mMNLshsdIA,224,2005-11-29 04:38:33,4.27
4,hA5lMy-EnncsH4JoR-hFGQ,79,2007-01-05 19:40:59,3.54
...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,23,2015-01-06 00:31:31,4.92
1987893,68czcr4BxJyMQ9cJBm6C7Q,1,2016-06-14 07:20:52,5.00
1987894,1x3KMskYxOuJCjRz70xOqQ,4,2017-02-04 15:31:58,2.00
1987895,ulfGl4tdbrH05xKzh5lnog,2,2011-01-14 00:29:08,3.00
1987896,wL5jPrLRVCK_Pmo4lM1zpA,2,2020-12-19 02:32:39,5.00

In [45]:
#ahora vamos con el dataset busisness

In [46]:
df_busisnes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80.0,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6.0,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,TN,63123,38.565165,-90.321087,3.0,19.0,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.768170,1.5,10.0,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,None,Tampa Bay,MO,33602,27.955269,-82.456320,4.0,10.0,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57717,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33.0,1,"{'WiFi': ""'free'"", 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
57718,qQ7FHvkGEMqoPKKXPk4gjA,La Quinta by Wyndham NW Tucson Marana,6020 West Hospitality Rd,Tucson,AZ,85743,32.358587,-111.093308,2.5,67.0,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Hotels & Travel, Hotels, Event Planning & Serv...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
57719,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,MO,19147,39.935982,-75.158665,4.5,35.0,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
57720,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,PA,19014,39.856185,-75.427725,4.5,14.0,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
57721,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,NJ,T5T 1K8,53.509649,-113.675999,4.5,18.0,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [47]:
df_busisnes = df_busisnes.drop('address',axis=1)

In [48]:
df_busisnes = df_busisnes.drop('postal_code',axis=1)

In [49]:
df_busisnes = df_busisnes.drop('is_open',axis=1)

In [50]:
df_busisnes['business_id'].nunique()

57722

In [51]:
df_busisnes = df_busisnes.drop_duplicates(subset='business_id', keep='first')

In [52]:
df_busisnes

,business_id,name,city,state,latitude,longitude,stars,review_count,attributes,categories,hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,CA,39.955505,-75.155564,4.0,80.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,AZ,36.269593,-87.058943,2.0,6.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,Affton,TN,38.565165,-90.321087,3.0,19.0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,MO,36.208102,-86.768170,1.5,10.0,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,MO,27.955269,-82.456320,4.0,10.0,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
...,...,...,...,...,...,...,...,...,...,...,...
57717,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,Boise,ID,43.615401,-116.284689,4.0,33.0,"{'WiFi': ""'free'"", 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
57718,qQ7FHvkGEMqoPKKXPk4gjA,La Quinta by Wyndham NW Tucson Marana,Tucson,AZ,32.358587,-111.093308,2.5,67.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Hotels & Travel, Hotels, Event Planning & Serv...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
57719,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,Philadelphia,MO,39.935982,-75.158665,4.5,35.0,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
57720,2O2K6SXPWv56amqxCECd4w,The Plum Pit,Aston,PA,39.856185,-75.427725,4.5,14.0,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
57721,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,Edmonton,NJ,53.509649,-113.675999,4.5,18.0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [49]:
#vamos al dataset chekin

In [50]:
df_checkin

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

In [51]:
#pasamos a tips

In [52]:
df_tip

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

In [53]:
df_tip = df_tip.drop('compliment_count',axis=1)

In [54]:
df_tip

,user_id,business_id,text,date
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09
...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00

In [55]:
#vamos con la union preliminar de todos los datasets busisness con review

In [56]:
import pyarrow as pa
print(pa.__version__)

14.0.2

In [57]:
import pyarrow as pa
import pyarrow.parquet as pq

In [58]:
table = pa.Table.from_pandas(df_user)

In [59]:

schema = table.schema

with pq.ParquetWriter('gs://data_henry_proyecto_final/user-clean.parquet', schema) as writer:
    writer.write_table(table)

In [60]:
table = pa.Table.from_pandas(df_reviews)
schema = table.schema

with pq.ParquetWriter('gs://data_henry_proyecto_final/reviews-clean.parquet', schema) as writer:
    writer.write_table(table)

In [61]:
table = pa.Table.from_pandas(df_tip)
schema = table.schema

with pq.ParquetWriter('gs://data_henry_proyecto_final/tip-clean.parquet', schema) as writer:
    writer.write_table(table)

In [62]:
table = pa.Table.from_pandas(df_busisnes)
schema = table.schema

with pq.ParquetWriter('gs://data_henry_proyecto_final/busisnes-clean.parquet', schema) as writer:
    writer.write_table(table)

In [63]:
table = pa.Table.from_pandas(df_checkin)
schema = table.schema

with pq.ParquetWriter('gs://data_henry_proyecto_final/checkin-clean.parquet', schema) as writer:
    writer.write_table(table)